{% extends 'customer_header.html' %}
{% load static %}

{% block content %}
<div class="page-content bg-white">
    <!--banner-->
    <div class="dz-bnr-inr overlay-secondary-dark dz-bnr-inr-sm"
         style="background-image:url({% static 'images/background/bg3.jpg' %});">
        <div class="container">
            <div class="dz-bnr-inr-entry">
                <h1>About us</h1>
                <nav aria-label="breadcrumb" class="breadcrumb-row">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"> Home</a></li>
                        <li class="breadcrumb-item">About us</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <!--Our Mission Section-->
    <section class="content-inner overlay-white-middle">
        <div class="container">
            <div class="row about-style1 align-items-center">
                <div class="col-lg-6 m-b30">
                    <div class="row sp10 about-thumb">
                        <div class="col-sm-6 aos-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                            <div class="split-box">
                                <div>
                                    <img class="m-b30" src="{% static 'images/about/about1.jpg' %}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="split-box ">
                                <div>
                                    <img class="m-b20 aos-item" src="{% static 'images/about/about2.jpg' %}" alt=""
                                         data-aos="fade-up"
                                         data-aos-duration="800" data-aos-delay="500">
                                </div>
                            </div>
                            <div class="exp-bx aos-item" data-aos="fade-up" data-aos-duration="800"
                                 data-aos-delay="500">
                                <div class="exp-head">
                                    <div class="counter-num">
                                        <h2><span class="counter">50</span><small>+</small></h2>
                                    </div>
                                    <h6 class="title">Years of Experience</h6>
                                </div>
                                <div class="exp-info">
                                    <ul class="list-check primary">
                                        <li>Comics & Graphics</li>
                                        <li>Biography</li>
                                        <li>Literary Collections</li>
                                        <li>Children Fiction</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 m-b30 aos-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="500">
                    <div class="about-content px-lg-4">
                        <div class="section-head style-1">
                            <h2 class="title">Book Mania Is Best Choice For Learners</h2>
                            <p>User can purchase & sell books online.
                                If they don’t want to read books they can give their price & sell in our Book Mania
                                online website.
                                We also provide different standard of school books as well as college books.
                                People can also donate books online if they want.
                                People can search books according to their needs.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--icon-box3 section-->
    <section class="content-inner-1 bg-light">
        <div class="container">
            <div class="section-head text-center">
                <h2 class="title">Our Goal</h2>
                <p>Customers can get their book delivered instead of actually going and buying the book. Our happy user
                    can sell their second-hand books easily. Feasibility of making payment online itself. Managing of
                    inventory of the books for user becomes easier as customers are not visiting and
                    ordering it online.
                </p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="icon-bx-wraper style-3 m-b30">
                        <div class="icon-content">
                            <h4 class="title">Book Mania is safe to use ?</h4>
                            <p>Not only have these buyers been vetted by Book Mania, but you can also check verified
                                reviews and ratings on each vendor which are publicly displayed meaning that this avenue
                                is safer for sellers, as it is not full of bogus reviews. Additionally, when selling to
                                vendors listed on Book Mania, shipping is totally free, and all buying and selling
                                decision-making processes take place on the website or in the app, both of which have
                                simple and intuitive design and can be easily navigated by online bookseller veterans
                                and beginners alike.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="icon-bx-wraper style-3 m-b30">
                        <div class="icon-content">
                            <h4 class="title">Book Mania is gives you best price for books ?</h4>
                            <br/>
                            <p>
                                Book Mania is unique from the other booksellers on this list because it helps connect you
                                with vendors looking to buy the specific textbook you are selling. Instead of just
                                posting a listing and waiting for someone to make a purchase, Book Mania searches its
                                database of so many vendors for the best offers. You can actually compare the textbook
                                buyback prices, making sure that you’ll get the most amount of money for your sale.
                            </p>
                            <br/>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="icon-bx-wraper style-3 m-b30">
                        <div class="icon-content">
                            <h4 class="title">Why Book Mania is best ?</h4>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <p>
                                If you want to sell books online, Book Mania is one of the best options for you. When it
                                was first launched, its main purpose was to help sell textbooks for the best price, but
                                now, with so many vendors integrated into the platform, it helps find the best offers
                                for
                                buying and selling new books, too.
                            </p>
                            <br/>
                            <br/>
                            <br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Testimonial -->
    <section class="content-inner-1 testimonial-wrapper">
        <div class="container">
            <div class="testimonial">
                <div class="section-head book-align">
                    <div>
                        <h2 class="title mb-0">Feedback</h2>
                        <p class="m-b0">We develop interactive and user-friendly environment. Using that users sell that
                            book that don't need it.
                            User can also able to buy used and new books using this website.
                            Other user who read that book also provide feedback about book which helpful to user to
                            purchase.
                            The feedback of user are given below :-
                        </p>
                    </div>
                    <div class="pagination-align style-1">
                        <div class="testimonial-button-prev swiper-button-prev"><i class="fa-solid fa-angle-left"></i>
                        </div>
                        <div class="testimonial-button-next swiper-button-next"><i class="fa-solid fa-angle-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="swiper-container testimonial-swiper">
            <div class="swiper-wrapper">

                {% for data in f %}

                <div class="swiper-slide">
                    <div class="testimonial-1">
                        <div class="testimonial-info">
                            <h5 class="testimonial-name">
                                Book :- {{data.b_id.b_name}}
                                <br/>
                                <img src="{% static 'assets/img/' %}{{data.b_id.b_img}}" width="100px" height="70px"/>
                            </h5>

                            <div class="testimonial-text">
                                <p>Feedback :- {{data.f_des}}</p>
                            </div>
                            <div class="testimonial-detail">
                                <div class="info-right">
                                    <h4 class="testimonial-name">Name :- {{data.u_id.u_fname}}
                                        {{data.u_id.u_lname}}</h4>
                                    <span class="testimonial-position">Date :- {{data.f_date}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                {% endfor %}


            </div>
        </div>
    </section>
    <!-- Testimonial End -->

    <!-- Feature Box -->
    <section class="content-inner bg-light">
        <div class="container">
            <div class="row sp15">
                <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                    <div class="icon-bx-wraper style-2 m-b30 text-center">
                        <div class="icon-bx-lg">
                            <i class="fa-solid fa-users icon-cell"></i>
                        </div>
                        <div class="icon-content">
                            <h2 class="dz-title counter m-b0">{{user}}</h2>
                            <p class="font-20">Happy Customers</p>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-3 col-md-6 col-sm-6 col-6">
                    <div class="icon-bx-wraper style-2 m-b30 text-center">
                        <div class="icon-bx-lg">
                            <i class="fa-solid fa-book icon-cell"></i>
                        </div>
                        <div class="icon-content">
                            <h2 class="dz-title counter m-b0">{{book}}</h2>
                            <p class="font-20">Book Collections</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                    <div class="icon-bx-wraper style-2 m-b30 text-center">
                        <div class="icon-bx-lg">
                            <i class="fa-solid fa-location-dot icon-cell"></i>
                        </div>
                        <div class="icon-content">
                            <h2 class="dz-title counter m-b0">{{area}}</h2>
                            <p class="font-20">Reachable Areas</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                    <div class="icon-bx-wraper style-2 m-b30 text-center">
                        <div class="icon-bx-lg">
                            <i class="fa-solid fa-comment icon-cell"></i>
                        </div>
                        <div class="icon-content">
                            <h2 class="dz-title counter m-b0">{{feedback}}</h2>
                            <p class="font-20">Given Feedback</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Feature Box End -->
</div>
{% endblock %}