{% load static %}
{% for x in p %}


<div class="col-md-12 col-sm-12">
    <div class="dz-shop-card style-2">
        <div class="dz-media">
            <img src="{% static 'assets/img/' %}{{x.b_img}}" alt="book">
        </div>
        <div class="dz-content">

            <div class="dz-header">
                <div>
                    <h4 class="title mb-0"><a href="/c/cdetail/{{x.b_id}}">{{x.b_name}}</a></h4>
                </div>
            </div>

            <div>
                <div class="price">
                    <span class="price-num text-primary">₹ {{x.b_price}}</span>
                </div>
            </div>

            <div class="dz-body">
                <div class="dz-rating-box">
                    <div>
                        <p class="dz-para">{{x.b_des}} </p>
                    </div>
                </div>
                <div class="rate">
                    <div class="d-flex">
                        <form method="post" action="/c/insert_cart/{{x.b_id}}">
                            {% csrf_token %}
                            <input type="hidden" name="b_id" value="{{x.b_id}}">
                            <input type="hidden" name="b_qty" value="1">
                            <input type="hidden" name="price" value="{{x.b_price}}"/>
                            <button class="btn btn-secondary box-btn btnhover btnhover2">
                                <i class="flaticon-shopping-cart-1 m-r10"></i> Add to cart
                            </button>
                        </form>
                        <form method="POST" action="/c/cl_wishlist/">
                            {% csrf_token %}

                            <div class="bookmark-btn style-2">
                                <input type="hidden" name="b_id" value="{{x.b_id}}">
                                <button type="submit" class="form-check-label">

                                    {% if x.b_id in w %}
                                    <i class='fas fa-heart' style='color: red'></i>
                                    {% else %}
                                    <i class="flaticon-heart"></i>
                                    {% endif %}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}
