{% extends 'admin_header.html' %}
{% load static %}

{% block content %}
<!-- Main Content -->
<div class="main-content">
    <section class="section">
        <div class="section-header">
            <div class="row">

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="section-header-breadcrumb-chart float-right">
                    </div>
                </div>
            </div>
        </div>
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Order Report By Date</h4>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <form method="POST" action="/od_report2/">
                                    {% csrf_token %}
                                    <table>

                                        <tr>
                                            <th>
                                                    Start Date
                                            </th>
                                            <th>
                                                    End Date
                                            </th>
                                        </tr>

                                        <tr>
                                            <td>
                                                <input type="date" name="start_date" class="form-control datepicker">
                                            </td>
                                            <td>
                                                <input type="date" name="end_date" class="form-control datepicker">
                                            </td>
                                            <td>
                                                <input type="submit" class="btn btn-primary">
                                            </td>
                                        </tr>

                                    </table>
                                </form>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped table-hover" id="tableExport" style="width:100%;">

                                    <thead>
                                    <tr>
                                        <th>Order ID</th>
                                        <th>Order Date</th>
                                        <th>Order Status</th>
                                        <th>Order Description</th>
                                        <th>User First Name</th>
                                        <th>Payment Status</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for data in order %}

                                    <tr>
                                        <td>{{data.o_id}}</td>
                                        <td>{{data.o_date}}</td>
                                        <td>{{data.o_status}}</td>
                                        <td>{{data.o_des}}</td>
                                        <td>{{data.u_id.u_fname}}</td>
                                        <td>{{data.payment_status}}</td>
                                    </tr>

                                    {% endfor %}


                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

    {% endblock %}