{% extends 'admin_header.html' %}
{% load static %}
{% block content %}
<!-- Main Content -->
<div class="main-content">
    <section class="section">
        <div class="section-header">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="section-header-breadcrumb-content-chart float-right">
                        <h1>User</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>User Table</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover" id="tableExport" style="width:100%;">
                                    <thead>
                                    <tr>
                                        <th>User ID</th>
                                        <th>User First Name</th>
                                        <th>User Last Name</th>
                                        <th>User Contact</th>
                                        <th>User Address</th>
                                        <th>User E-mail</th>
                                        <th>User Password</th>
                                        <th>is_admin</th>
                                        <th>Area Name</th>
                                        <th>Action</th>

                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for data in u %}

                                    <tr>
                                        <td>{{data.u_id}}</td>
                                        <td>{{data.u_fname}}</td>
                                        <td>{{data.u_lname}}</td>
                                        <td>{{data.u_contact}}</td>
                                        <td>{{data.u_address}}</td>
                                        <td>{{data.u_email}}</td>
                                        <td>{{data.u_password}}</td>
                                        <td>
                                        {% if data.is_admin == 1 %}
                                            <span class="badge badge-secondary">Admin</span>

                                            {% else %}
                                            <span class="badge badge-primary">Customer</span>

                                            {% endif %}
                                        </td>
                                        <td>{{data.a_id.a_name}}</td>
                                        <td><a href="/d_user/{{data.u_id}}"><i class="fas fa-trash"></i></a></td>
                                    </tr>

                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}